h1 {
	color: #A24E4E;
	margin-left: 20px;
}

button {
	background-color: #C07C7C;
	width: 115px;
	border: 0;
	padding: 10px 0;
	margin: 5px 0;
	text-align: center;
	color: #fff;
	font-weight: bold;
	margin-left: 20px;
}

.buttonLike{
	background-color: #C07C7C;
	width: 115px;
	border: 0;
	padding: 10px 30px;
	margin: 5px 0;
	text-align: center;
	color: #fff;
	font-weight: bold;
	margin-left: 20px;
	display: inline;
    font-weight: normal;
	
}

.panel-heading {
	border-bottom-style: double;
}

.col-sm-9 {
	background-color: #FFF;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding: 0px;
	text-align: center;
}

.submit {
	background-color: #C07C7C;
	width: 95px;
	border: 0;
	padding: 10px 0;
	margin: 5px 0;
	text-align: center;
	color: #fff;
	font-weight: bold;
	margin-left: 20px;
}

myCoolDate {
	text-aling: right;
}

div .titleInfo {
	width: 43%;
	padding: 0;
	margin-bottom: 5px;
	float: left;
	display: inline-block;
	text-align: left;
}

div .authorInfo {
	width: 43%;
	padding: 0;
	margin-bottom: 5px;
	float: left;
	display: inline-block;
}

div .dateInfo {
	width: 14%;
	padding: 0;
	margin-bottom: 5px;
	display: inline-block;
	text-align: right;
}

div .shortTextInfo {
	width: 100%;
	padding: 0;
	margin-bottom: 5px;
	float: left;
	display: inline-block;
	text-align: left
}

div .tagsInfo {
	width: 60%;
	padding: 0;
	margin-top: 10px;
	margin-bottom: 5px;
	float: left;
	display: inline-block;
	color: #B9A7A7;
}

div .commentsInfo {
	width: 20%;
	padding: 0;
	margin-bottom: 5px;
	float: left;
	display: inline-block;
}

div .viewButton {
	width: 20%;
	padding: 0;
	margin-bottom: 5px;
	float: left;
	display: inline-block;
}

div .pagination {
	width: 100%;
	padding: 0;
	margin-bottom: 5px;
	float: left;
	display: inline-block;
	text-align: center;
}

.myCoolPageIndex {
	background-color: #C07C7C;
	width: 30px;
	height: 25px;
	border: 0;
	text-align: center;
	color: #fff;
	font-weight: bold;
	margin-left: 10px;
}

.dotted-border {
	border-style: dotted;
	border-width: 1px;
	display: flex;
}

.singleNewsPanel {
	border-style: dotted;
	border-width: 1px;
	margin: 6px;
	padding: 5px;
}

.backButton {
	text-align: left
}

div .newsTitle {
	display: inline-block;
	width: 70%;
	padding: 0; margin-bottom : 5px; float : left; font-size : 250%;
	color: #594A4A;
	font-size: 250%;
	margin-bottom: 5px;
	float: left;
}

div .authorName {
	display: inline-block;
	width: 16%;
	padding: 0; 
	margin-bottom : 5px; 
	float : left; 
	color: #594A4A;
	margin-bottom: 5px;
	float: left;
	padding-top: 15px;
}
div .dateInfoSingle {
	width: 14%;
	padding: 0;
	margin-bottom: 5px;
	display: inline-block;
	text-align: right;
	padding-top: 15px;
}
div .commentDate{
	width: 70%;
	float: left;
	text-align: left;
}
div .commentText{
	    width: 100%;
    float: left;
    text-align: left;
    background-color: #CD9898;
    margin: 10px;
    padding: 7px;
	
}
div .prevNews{
	width:50%;
	display: inline-block;
    text-align: left;
		
}
div .nextNews{
	width:50%;
	display: inline-block;
	float:right;
    text-align: right;
		
}
/* body {
	font: normal 14px/100% "Andale Mono", AndaleMono, monospace;
	color: #fff;
	padding: 50px;
	width: 300px;
	margin: 0 auto;
	background-color: #374954;
}

a {
	color: #fff;
}

.dropdown dd, .dropdown dt {
	margin: 0px;
	padding: 0px;
}

.dropdown select {
	margin: -1px 0 0 0;
}

.dropdown dd {
	position: relative;
}

.dropdown a, .dropdown a:visited {
	color: #fff;
	text-decoration: none;
	outline: none;
	font-size: 12px;
}

.dropdown dt a {
	background-color: #4F6877;
	display: block;
	padding: 8px 20px 5px 10px;
	min-height: 25px;
	line-height: 24px;
	overflow: hidden;
	border: 0;
	width: 272px;
}

.dropdown dt a span, .mselecttiSel span {
	cursor: pointer;
	display: inline-block;
	padding: 0 3px 2px 0;
}

.dropdown dd select {
	background-color: #4F6877;
	border: 0;
	color: #fff;
	display: none;
	left: 0px;
	padding: 2px 15px 2px 5px;
	position: absolute;
	top: 2px;
	width: 280px;
	list-style: none;
	height: 100px;
	overflow: auto;
}

.dropdown span.value {
	display: none;
}

.dropdown dd select li a {
	padding: 5px;
	display: block;
}

.dropdown dd select li a:hover {
	background-color: #fff;
}

button {
	background-color: #6BBE92;
	width: 302px;
	border: 0;
	padding: 10px 0;
	margin: 5px 0;
	text-align: center;
	color: #fff;
	font-weight: bold;
} */