.wrapper{
	font-size: 25px;
    border-style: ridge;
    text-align: center;
    margin-left: 20%;
    margin-top: 5px;
}

.editButton{
	width: 50px;
}

.addField{
	width:80%;
	margin-left:20%;
}

.addWrapper{
	font-size: 25px;
    border-style: ridge;
    text-align: center;
    margin-top: 5px;	
}