div .titleInfo {
	width: 33%;
	padding: 0;
	margin-bottom: 5px;
	float: left;
	display: inline-block;
	text-align: left;
}

.buttonLike{
	background-color: #C07C7C;
	width: 115px;
	border: 0;
	padding: 10px 30px;
	margin: 5px 0;
	text-align: center;
	color: #fff;
	font-weight: bold;
	margin-left: 20px;
	display: inline;
    font-weight: normal;
	
}

div .authorInfo {
	width: 33%;
	padding: 0;
	margin-bottom: 5px;
	float: left;
	display: inline-block;
}

div .dateInfo {
	width: 14%;
	padding: 0;
	margin-bottom: 5px;
	display: inline-block;
	text-align: right;
}

div .shortTextInfo {
	width: 80%;
	padding: 0;
	margin-bottom: 5px;
	float: left;
	display: inline-block;
	text-align: left
}

div .tagsInfo {
	width: 50%;
	padding: 0;
	margin-top: 10px;
	margin-bottom: 5px;
	float: left;
	display: inline-block;
	color: #B9A7A7;
}

div .commentsInfo {
	width: 20%;
	padding: 0;
	margin-bottom: 5px;
	float: left;
	display: inline-block;
}

div .viewButton {
	width: 10%;
	padding: 0;
	margin-bottom: 5px;
	float: left;
	display: inline-block;
}



.myCoolPageIndex {
	background-color: #C07C7C;
	width: 30px;
	height: 25px;
	border: 0;
	text-align: center;
	color: #fff;
	font-weight: bold;
	margin-left: 10px;
}
.col-sm-6{
	text-align: center;
}

div .deleteButton{
	text-align: right;
}