.dotted-border {
	width: 80%;
	margin-left: 18%;
	border-style: dotted;
	border-width: 1px;
	border-style: dotted;
	display: table-cell;
    padding: 5px;
}

.singleNewsPanel {
	border-style: dotted;
	border-width: 1px;
	margin: 6px;
	padding: 5px;
}

.backButton {
	text-align: left
}

div .newsTitle {
	display: inline-block;
	width: 55%;
	padding: 0;
	margin-bottom: 5px;
	float: left;
	font-size: 250%;
	color: #594A4A;
	font-size: 250%;
	margin-bottom: 5px;
	float: left;
}

div .authorName {
	display: inline-block;
	width: 15%;
	padding: 0;
	margin-bottom: 5px;
	float: left;
	color: #594A4A;
	margin-bottom: 5px;
	float: left;
	padding-top: 15px;
}

div .dateInfoSingle {
	width: 10%;
	padding: 0;
	margin-bottom: 5px;
	display: inline-block;
	text-align: right;
	padding-top: 15px;
}

div .commentDate {
	width: 55%;
	float: left;
	text-align: left;
}

div .commentText {
	width: 94%;
	float: left;
	text-align: left;
	background-color: #CD9898;
	margin: 1%;
    padding: 1%;
    display: inline-block;
   
}

div .prevNews{
	width:50%;
	display: inline-block;
    text-align: left;
		
}
div .nextNews{
	width:50%;
	display: inline-block;
	float:right;
    text-align: right;
		
}

.closeButton {
	width: 20%;
	padding: 0px;
}

.commentSection {
	border-width: 1px;
	border-style: ridge;
	
	padding: 5px;
}