h1 {
	color: #A24E4E;
	margin-left: 20px;
}

button {
	background-color: #C07C7C;
	width: 115px;
	border: 0;
	padding: 10px 0;
	margin: 5px 0;
	text-align: center;
	color: #fff;
	font-weight: bold;
	margin-left: 20px;
	display: inline-block;
	cursor:auto;
}

.buttonLike{
	background-color: #C07C7C;
	width: 115px;
	border: 0;
	padding: 10px 30px;
	margin: 5px 0;
	text-align: center;
	color: #fff;
	font-weight: bold;
	margin-left: 20px;
	display: inline;
    font-weight: normal;
	
}

.panel-heading {
	border-bottom-style: double;
}

.menuVar {
	background-color: #C07C7C;
	text-align: center;
	margin: 3px;
	padding: 3px;
}

div .languages {
	margin: 0px;
	width: 80%;
	float: left;
	text-align: left;
	display: inline;
}

div .logout {
	margin: 0px;
	width: 20%;
	text-align: right;
	display: inline;
}

div .menu {
	position: relative;
	min-height: 1px;
	float: left;
	width: 20%;
	margin-bottom: 100%;
}

div .mainPart {
	position: relative;
	min-height: 1px;
	width: 80%;
	float: left;
}